<div class ="page">
    <div class ="title">
        <div class="pimg1">
            <h2>Home</h2>
        
            <h1 id="quote"><span>"</span>
                We have to dare to be ourselves
                <span>,</span>
                however frightening or strange that self may prove to be.
                <span>"</span>
                - May Sarton</h1>
        </div>
    </div>

         

    <div class="content">
        <h3>Welcome</h3>
        
        <p>Hello! I am Joseph Higgins. I would like to welcome you to my website from Cheshire, England! I am a 22 year old graduate from Manchester Metroplitain University 
            after studying Software Engineering. </p>
        <p> I created this website to share my efforts, experience and education for others to see and as a platform to dive deeper into using other frameworks and languages.  </p>
    </div>
</div>