@keyframes blur{
    to{
        filter:blur(0rem);
    }
}

.page{
    height:100%;
    text-align: left;
    padding-left: 15%;
}
.title{
    text-align: right;
    height:100vh;
    color: white;
    width:100%;
}
#quote{
    font-size: 100px;
    width:75%;
    display: block;
    text-align: left;
    padding: 20px;
    text-shadow: 5px;
    border-radius: 3px;
    filter:blur(10rem);
    animation: blur 10s infinite alternate;
    
}
span{
    white-space:nowrap;
    color: #fca311

}
h2{
    margin: 0;
    font-size: 150px;
    padding-right: 50px;
}
.pimg1{
    background-image:url('../../../assets/city2.jpg');
    height:100vh;
    background-color: black;
}
.pimg2{background-image:url('../../../assets/city2.jpg');}
.pimg3{background-image:url('../../../assets/stars2.jpg')}

.pimg1,.pimg2,.pimg3{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 4px 3px -3px black;
}
p{
    padding: 0px 50px 0px 50px;
    line-height: 1.8em;
}
